<p><h1>Cadastro de cliente</h1></p>
<form name="myForm" ng-submit="cadastrarCliente()">
<div>
	<span>NOME</span>
	<input type="text" ng-model="user.nome" name="" required>
</div>
<div>
	<span>CPF</span>
	<input type="text" ng-model="user.cpf" maxlength="11" name="" required>
</div>
<div>
	<span>TELEFONE</span>
	<input type="number" ng-model="user.telefone" name="" required>
</div>
<div>
	<span>CARTÃO</span>
	<input type="text" ng-model="user.numeroCartao" maxlength="16" name="" required>
</div>
<div>
	<span>CVV</span>
	<input type="text" ng-model="user.cvv" maxlength="3" name="" required>
</div>
<div>
<span>VENCIMENTO</span>
	<select ng-model="selectedMonth" required>
		<option ng-repeat="mes in meses" ng-value="mes">{{mes}}</option>
	</select>
	<select ng-model="selectedYear" required>
		<option ng-repeat="ano in anos" ng-value="ano">{{ano}}</option>
	</select>
</div>
<div>
	<span>EMAIL</span>
	<input type="email" ng-model="user.email" name="" required>
</div>
<div>
	<span>SENHA</span>
	<input type="password" ng-model="user.senha" name="" required>
</div>
<div>
	<span>TERMOS</span>
	<input type="checkbox" ng-model="termos" required>
</div>

<input type="submit" value="Cadastrar">

</form>
